
var-viewer {
    display: flex;
}

.tab {
    display: flex;
    text-transform: uppercase;
    background-color: #00000000;
    padding: 10px 20px;
    margin: 0;
    overflow: hidden;
}

.tab:hover {
    background-color: var(--vscode-tab-inactiveBackground);
    margin: 0;
}

.tab.active {
    font-style: italic;
    font-weight: bold;
    background-color: #00000000;
    border-bottom: 2px solid var(--vscode-button-foreground);
}

.main-container {
    padding: 2px;
}

.tab-content-container {
    margin: 0px;
    background-color: var(--vscode-tab-inactiveBackground);
    padding: 10px;
    width: fit-content;
    height: fit-content;
}

.container-horizontal-stack {
    overflow: hidden;
}

