
  <div>
    <h3>{{title}}</h3>
    <label> {{description}} </label>

    <div class="container-horizontal-stack">
      <select multiple (change)="selectCSrcChanged($event)">
        <!-- <option *ngFor="let item of cSrcFiles">{{item}}</option> -->
        <option>TEST1</option>
        <option>TEST2</option>
        <option>TEST3</option>
        <option>TEST4</option>
      </select>
      
      <div class="container-vertical-stack">
        <button class="button-file-manipulation" (click)="sendCommand('cSrcAddBattonClick')">Add</button>
        <button class="button-file-manipulation">Edit</button>
        <button class="button-file-manipulation" (click)="sendCommand('cSrcDeleteBattonClick')">Delete</button>
      </div>
    </div>
  </div>