<div class="main-container">
    <h3>{{title}}</h3>
    <label> {{description}} </label>

    <div class="container-horizontal-stack">
        <label title={{compilerPath}}>Compiler path: {{compilerPath}}</label>
        <button (click)="clickChangeCompilerButton()">Change</button>
    </div>

    <div class="container-horizontal-stack">
        <label title={{openocdPath}}>Openocd path: {{openocdPath}}</label>
        <button (click)="clickChangeOpenocdButton()">Change</button>
    </div>
</div>