

label {
    margin: 2px;
    font-style: italic;
    align-self: center;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


button:hover {
    background-color: var(--vscode-button-hoverBackground);
}

.main-container {
    padding: 2px;
    max-width: 95vw;
    max-height: 90vh;
}

