
<div class="container-vertical-stack">
    <h3>{{title}}</h3>
    <label> {{description}} </label>

    <div class="container-horizontal-stack">
        <label title={{compilerPath}}><b>Compiler path:</b>&emsp;{{compilerPath}}</label>
        <button (click)="clickChangeCompilerButton()">Change</button>
    </div>

    <div class="container-horizontal-stack">
        <label title={{openocdPath}}><b>Openocd path:</b>&emsp;{{openocdPath}}</label>
        <button (click)="clickChangeOpenocdButton()">Change</button>
    </div>
</div>