
div {
    padding: 2px;
}

label {
    margin: 2px;
}

button {
    color: var(--vscode-button-foreground);
    background-color: var(--vscode-button-background);
    border-color: var(--vscode-button-border);
    border-width: 0px;
    font-style: var(--vscode-font-family);
    font-size: var(--vscode-font-size);
    font-weight: var(--vscode-font-weight);
    padding: 10px;
    align-self: center;
    margin: 15px;

    display: flex;
    min-width: 100px;
    text-align: center;
}

button:hover {
    background-color: var(--vscode-button-hoverBackground);
}

select {
    color: var(--vscode-input-foreground);
    background-color: var(--vscode-input-background);
    border-color: var(--vscode-focusBorder);
    border-width: 1px;

    width: 15vw;
    height: 30px;

    align-self: center;
}

.main-container {
    padding: 20px;
    width: 95vw;
    max-width: 95vw;
    max-height: 90vh;
}

.container-vertical-stack {
    display: flex;
    flex-direction: column;
}

.container-horizontal-stack {
    display: flex;
    flex-direction: row;
}

