<main>

  <h1>{{title}}</h1>

  <div>
    <div class="container-horizontal-stack">
      <button (click)="clickAdaptVSC()">Adapt for VSCode</button>
      <button (click)="clickAdaptCpp()">Adapt for C++</button>
    </div>
  </div>


  <tab-panel [variablesInfo]="varViewer">

  </tab-panel>


  <!-- <div *ngFor = "let variable of varViewer">
    <var-viewer  [variableInfo]="variable"></var-viewer>
  </div> -->

  <div>
    <svd-viewer></svd-viewer>
  </div>

  <div>
    <toolchain-viewer></toolchain-viewer>
  </div>

</main>
