
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  margin: 0;
  line-height: 1.7;
}

main > * {
  margin: 1rem 0;
}

div {
  padding: 2px;
}


