
label {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50vw;
}

select {
  color: var(--vscode-input-foreground);
  background-color: var(--vscode-input-background);
  border-color: var(--vscode-focusBorder);
  border-width: 1px;
  overflow-x: scroll;

  width: 40vw;
  min-width: 20vw;
  max-width: 40vw;
  min-height: 20vh;
  max-height: 40vh;

  resize: both;
}

.button-file-manipulation {
  display: flex;
  width: 100px;
  text-align: center;
  margin: 5px 10px 2px 15px;
}

.main-container {
  /* border: 1px solid var(--vscode-input-foreground); */
  padding: 2px;
  width: 100%;
}

.container-horizontal-stack {
  overflow: hidden;
}

.container-vertical-stack {
  overflow: hidden;
}
